@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
}
nav{
    background-color: black;
    margin: 0;
    height: 50px;
    padding: 20px 20px 0 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}
nav a{
    margin: 0;
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-family:cursive;
    font-size: 24px;
}
nav a:nth-child(2){
    border-left: 1px solid white;
    padding-left: 15px;
}
nav a:nth-child(3){
    border-left: 1px solid white;
    padding-left: 15px;
}
nav a:nth-child(4){
    border-left: 1px solid white;
    padding-left: 15px;
}
nav a:nth-child(5){
    border-left: 1px solid white;
    padding-left: 15px;
}
nav a span:hover{
    text-shadow: 0 5px 10px red,
                 0 -5px 10px red;
}


.village-img{
    width:100vw;
    height: 100vh;
}

.kezdes{
    width: 100vw;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    color: white;
    text-shadow: 0 0 20px rgb(0, 4, 255);
}
h2{
    font-size: xxx-large;
    font-family: 'noto serif';
    width: 70vw;
    padding-left: 1vw;
}
p{
    font-family: 'noto serif', cursive;
    font-size: x-large;
    width: 70vw;
    text-align: left;
    padding-left: 1vw;
}
section:nth-child(odd){
    border-left: 3px solid rgb(143, 0, 0);
    margin-left: 10vw;
    background: white;
}
section:nth-child(even){
    border-left: 3px solid rgb(0, 143, 0);
    margin-left: 10vw;
    background: rgb(153, 153, 153);
    color: white;
}
.adat{
    display: inline-block;
    margin-left: 13vw;
}
.adat *{
    text-align: center;
    width: 10vw;
}


footer{
    background: black;
    padding: 30px;
}
footer a{
    text-decoration: underline;
    color:rgb(0, 194, 146);
    margin: 3px;
    font-size: 14px;
}
